/* Global styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}

/* HEADER */

header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255,255,255,.2);

}

.nav-brand {
    width: 15rem;
}

.logo-name {
    color: #fafafa;
    font-weight: 600;
    font-size: 2rem;
}

.menu-icons i {
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}

.close i {
    color: #eb648c;
}

.nav-list {
    width: 25rem;
    height: 100vh;
    background-color: rgba(255,255,255);
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}
.nav-list.active{
    right: 0;
}

.close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.nav-item{
    margin: 1.5rem 0;
}

.nav-item img{
    width: 32px;
    height: 32px;
    margin: 1rem;
}

.nav-link {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0,0,0,0.7)
}

/* HERO SECTION */

.hero{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(44,62,80,.9) 0%, rgba(72,56,149,0.8) 100%);
    background-size: cover;
    position: relative;
}

.hero::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small.png") center no-repeat;
    background-size: cover;

}

.main-message {
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    transform: translateY(20%);
}

.main-message h3 {
    font-size: 2rem;
}

.main-message h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

.main-message p {
    font-size: 2rem;
}
.btn {
    background-color: #eb648c;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
    font-size: 1.2rem;
}

.btn:hover {
    background-color: #ce587b;
}


.title-heading {
    text-align: center;
    margin-bottom: 5rem;
    color: rgba(0,0,0,.7)
}

.title-heading h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
}

.title-heading h1 {
    text-transform: uppercase;
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
    margin: .5rem 0 1rem;
}

.title-heading span {
    font-size: 1.6rem;
    font-weight: 900;
    font-family: sans-serif;
}


/* PORTFOLIO SECTION */

.portfolios {
    padding: 0;
    padding-top: 3rem;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}

.portfolio-grid-item{
    height: 40rem;
    padding: 5rem;
    position: relative;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* cursor: pointer; */
    z-index: 1;
}

.portfolio-grid-item::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(44,62,80,.9) 0%, rgba(72,56,149,0.8) 100%);
    z-index: -1;
}

.portfolio-grid-item i {
    font-size: 4rem;
    color: #eb648c;
}

.portfolio-grid-item h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 2rem 0;
}

/* RESUME SECTION */

.resumes {
    padding-top: 5rem;
}

.resume-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    margin-bottom: 2rem;
}

.resume-grid-item p {
    color: rgba(0,0,0,.7);
}

.resume-grid-item h1 {
    background: linear-gradient(135deg, rgba(44,62,80,.9) 0%, rgba(72,56,149,0.8) 100%);
    color: #fafafa;
    padding: 1rem;
    text-transform: uppercase;
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin: .5rem 0 1rem;
}

.resume-grid-item h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8rem;
}

.resume-education-item {
    margin: 2rem 1rem;
}

.resume-education-item p{
    margin-bottom: 1rem;
}

.resume-education-item img {
    border: 3px solid rgba(44,62,80,.5);
}

.certificate-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    margin-bottom: 2rem;
}

.resume-button {
    text-align: center;
}


/* ABOUT ME SECTION */

.abouts {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgba(55, 64, 73, 0.8) 0%, rgba(72,56,149,0.5) 100%), url("images/bg-1.jpeg")  center no-repeat fixed;
    background-size: cover;
    position: relative;
}


.abouts::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small-reversed.png") center no-repeat;
    background-size: cover;
}

.about-heading {
    /* padding-top: 1rem; */
    text-align: center;
    margin-bottom: 3rem;
    color: #fafafa;
}

.about-heading h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
}

.about-heading h1 {
    text-transform: uppercase;
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
    margin: .5rem 0 1rem;
}

.about-heading span {
    font-size: 1.6rem;
    font-weight: 900;
    font-family: sans-serif;
}


.about-grid {
    text-align: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    margin-bottom: 2rem;
}

.about-grid-item p {
    text-align: center;
    margin-bottom: 1.2rem;
    color: #fafafa;
}

.about-grid-item img {
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    border: 3px solid #eb648c;
    border-radius: 50%;
}

/* CONTACT SECTION */
.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    margin-bottom: 1rem;
}

.social-media-icons {
    text-align: center;
}

/* Footer */

footer{
    padding: 2rem 0;
    background-color:rgba(255,255,255,.9);
    color: rgba(0,0,0,.7);
    text-align: center;
}

/* SOCIAL MEDIA STYLES */

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-github {
    background: rgba(44,62,80,.9);
    color: white;
  }




/* Media queries */

@media screen and (min-width: 350px) {
    .main-message{
        transform: translateY(40%);
    }

    .about-heading {
        padding-top: 0rem;
        text-align: center;
        margin-bottom: 5rem;
        color: #fafafa;
    }

}

@media screen and (min-width: 470px) {
    .hero::before{
        height: 9.4rem;
        background: url("images/wave-medium.png");
        background-size: cover;
    }

    .abouts::before{
        height: 9.4rem;
        background: url("images/wave-medium-reversed.png");
        background-size: cover;
    }

}

@media screen and (max-width: 450px) {

    .about-grid-item img {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .about-grid-item img {
        width: 15rem;
        height: 15rem;
        border: 2px solid #eb648c;
        border-radius: 50%;
    }
}

@media screen and (max-width: 599px) {
    .about-heading {
        padding-top: 4rem;
        text-align: center;
        margin-bottom: 5rem;
        color: #fafafa;
    }
}
@media screen and (min-width: 600px) {
    .about-heading {
        padding-top: 4rem;
        text-align: center;
        margin-bottom: 5rem;
        color: #fafafa;
    }
}

@media screen and (min-width: 700px) {
    header {
        height: 8rem;
    }

    .nav-list {
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        display: flex;
        flex-direction: row;
        transition: initial;
    }

    .menu-icons {
        display: none;
    }

    .nav-item {
        margin: 0 2.5rem;
    }

    .nav-link,
    .current {
        color: #fafafa;
        position: relative;
        font-size: 1.3rem;
    }

    .nav-link::before,
    .current::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: #eb648c;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;
    }

    .current::before {
        transform: scaleX(1);
    }

    .nav-link:hover::before {
        transform: scaleX(1);
    }

    .hero {
        height: 60vh;
    }

    .main-message {
        transform: translateY(50%)
    }

    .title-heading h1 {
        font-size: 2.5rem;
    }

    .about-heading {
        padding-top: 16rem;
        text-align: center;
        margin-bottom: 3rem;
        color: #fafafa;
    }
}

@media screen and (min-width: 950px) { 
    .hero {
        height: 75vh;
    }

    .hero::before{
        height: 22.7rem;
        background: url("images/wave-large.png");
        background-size: cover;
    }

    .abouts::before{
        height: 22.7rem;
        background: url("images/wave-large-reversed.png");
        background-size: cover;
    }
}

@media screen and (min-width: 1200px) { 
    .hero {
        height: 75vh;
    }
}
