.project-card-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.project-preview {
    width: 289px;
    height: 239px;

    background: #FFFFFF;
    border: 1px solid rgba(44, 62, 80, 0.8);
    box-sizing: border-box;
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
}

.project-preview img {
    width: 280px;
    height: 230px;
    border-radius: 20px 20px 0px 0px;
}

.project-preview img:hover {
    opacity: 0.3;
}

.project-source {
    width: 289px;
    height: 44px;
    
    background: #FFFFFF;
    border: 1px solid #2C3E50;
    box-sizing: border-box;
    border-radius: 0px 0px 20px 20px;
}

.project-name {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 289px;
    height: 44px;

    background: #2C3E50;
}

.project-name span {

    width: 81px;
    height: 26px;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    
    color: #FBBC04;
}

.project-source {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 289px;
    height: 44px;
    
    background: #FFFFFF;
    border: 1px solid #2C3E50;
    box-sizing: border-box;
    border-radius: 0px 0px 20px 20px;
}

.project-hover-text {
    background: black;
}
