.page-container {
    width: 100%;
}

.page-title-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 4rem;
}

.page-title {
    position: absolute;
    left: 100px;
    top: 80px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    text-align: left;
    color: #2C3E50;
}

.page-subtitle {
    position: absolute;
    left: 100px;
    top: 300px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    text-align: left;
    color: #fbbc04;
    background: #2C3E50;
}
