.portfolio-container {
    position: relative;
    height: 100vh;
    background: #FFFFFF;
}

.portfolio-title-container {
    display: flex;
    justify-content: center;
}

.portfolio-title-bg {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 389px;
    height: 100px;
    top: 32px;

    background: #2C3E50;
}

.portfolio-title-text {
    position: absolute;
    width: 332px;
    height: 88px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 87px;
    /* identical to box height */

    text-align: center;

    color: #FBBC04;

}

.portfolio-content-container {
    position: relative;
    top: 221px;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 1281px) and (min-height: 969px) { 

}

@media only screen and (max-width: 1024px) {

    .portfolio-content-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
