.portfolio-container {
    position: relative;
    height: 689px;
    background: #FFFFFF;
}

.portfolio-title-bg {
    position: absolute;
    width: 389px;
    height: 100px;
    left: 446px;
    top: 32px;

    background: #2C3E50;
}

.portfolio-title-text {
    position: absolute;
    width: 332px;
    height: 88px;
    left: 471px;
    top: 35px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 87px;
    /* identical to box height */

    text-align: center;

    color: #FBBC04;

}

.portfolio-content-container {
    position: relative;
    top: 221px;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 1800px) and (min-height: 969px) {
    .portfolio-container {
        position: relative;
        height: 969px;
    
        background: #FFFFFF;
    }
}

@media only screen and (min-width: 1281px) and (max-width: 1800px) and (min-height: 969px) { 

}