.contact-container {
    position: relative;
    height: 689px;
    background: #FFFFFF;
}

.contact-title-container {
    display: flex;
    justify-content: center;
}

.contact-title-bg {
    position: absolute;
    width: 389px;
    height: 100px;
    top: 32px;
    
    background: #2C3E50;
}

.contact-title-text {
    position: absolute;
    width: 332px;
    height: 88px;
    top: 35px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 87px;
    
    text-align: center;
    
    color: #FBBC04;
    
}

.contact-content-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.contact-thx-text {
    position: absolute;
    width: 483px;
    height: 47px;
    top: 170px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;    
    
    color: #2C3E50;
    

}

.contact-social-text {
    position: absolute;
    width: 708px;
    height: 52px;
    top: 233px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 120.3%;
    /* or 34px */
    
    
    color: #2C3E50;
    
}

.contact-social-media {
    position: absolute;
    display: flex;
    flex-direction: column;
    
    top: 280px;
}


.contact-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.contact-social-item span {    
    width: 300px;
    padding-left: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120.3%;
    /* identical to box height, or 29px */
    
    
    color: #2C3E50;
}

.back-to-top {
    position: absolute;
    cursor: pointer;
    width: 200px;
    height: 25px;
    right: 32px;
    bottom: 16px;
    position: absolute;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    text-align: center;

    color: #2C3E50;

}


@media only screen and (min-width: 1281px) and (min-height: 969px) { 
    .contact-container {
        position: relative;
        height: 969px;
    
        background: #FFFFFF;
    }

    .contact-thx-text {
        position: absolute;
        width: 483px;
        height: 47px;
        top: 230px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 38px;    
        
        color: #2C3E50;
        
    
    }
    
    .contact-social-text {
        position: absolute;
        width: 708px;
        height: 52px;
        top: 300px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 120.3%;
        /* or 34px */
        
        
        color: #2C3E50;
        
    }
    
    .contact-social-media {
        position: absolute;
        display: flex;
        flex-direction: column;
        
        top: 400px;
    }

}