.container {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 100px;

    background: #ffffff;
}

.landing-image-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.landing-personal-image {
    position: absolute;
    top: 30px;
}

.landing-personal-image img {
    width: 317px;
    height: 334px;
    border-radius: 50%;
}

.landing-text-description {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.landing-main-text {
    position: absolute;
    height: 43px;
    top: 277px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 74px;

    color: #2C3E50;
}

.landing-sub-title {
    position: absolute;
    height: 30px;
    top: 350px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    
    color: #2C3E50; 
}

.landing-social-media {
    display: flex;     
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    width: 104px;
    height: 24px;
    top: 372px;
}

.container-with-color-yellow-1 {
    position: absolute;
    width: 100%;
    
    background: #FBBC04;
}

.landing-sub-text {
    position: absolute;
    width: 958px;
    height: 162px;
    top: 464px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    text-align: center;

    color: #2C3E50;
}

.about-me-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.about-me-title {
    position: absolute;
    width: 249px;
    height: 65px;
    top: 740px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    
    color: #2C3E50;
}

.about-me-text {
    position: absolute;
    width: 311px;
    height: 101px;
    left: 32px;
    top: 807px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    text-align: left;

    color: #2C3E50;
}

.about-me-social-media {
    display: flex;     
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    width: 104px;
    height: 24px;
    left: 135px;
    top: 1357px;
}

.container-with-color-blue-1 {
    position: absolute;
    width: 100%;

    background: #2C3E50;
}

.resume-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.resume-title {
    position: absolute;
    width: 207px;
    height: 65px;
    top: 1639px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    text-align: center;

    color: #FBBC04;
}

.resume-work-title {
    position: absolute;
    width: 208px;
    height: 25px;
    top: 1744px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    
    color: #2C3E50;
    
}

.resume-work-container {
    position: absolute;
    left: 34px;
    top: 1779px;
}


.resume-education-title {
    position: absolute;
    width: 186px;
    height: 25px;
    top: 1951px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    color: #2C3E50;
}

.resume-education-container {
    position: absolute;
    left: 34px;
    top: 1985px;
}


.container-with-color-yellow-2 {
    position: absolute;
    width: 100%;

    background: #FBBC04;
}


.portfolio-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.portfolio-title {
    position: absolute;
    width: 193px;
    height: 65px;
    top: 2431px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    
    color: #2C3E50;
}


.container-with-color-blue-2 {
    position: absolute;
    width: 100%;

    background: #2C3E50;
}


.contact-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contact-title { 
    position: absolute;
    width: 179px;
    height: 65px;
    top: 3218px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    text-align: center;

    color: #FBBC04;
}


.back-to-top {
    cursor: pointer;
    position: absolute;
    width: 157px;
    height: 25px;
    top: 3923px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;

    color: #2C3E50;  
    margin-bottom: 10%;
}

@media only screen and (min-width: 376px) and (max-width: 414px) { 
    
    .landing-image-container {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .landing-personal-image {
        position: absolute;
        top: 30px;
    }

    .landing-personal-image img {
        width: 216px;
        height: 228px;
        border-radius: 50%;
    }

    .landing-text-description {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .landing-main-text {
        position: absolute;
        height: 43px;
        top: 277px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;

        color: #2C3E50;
    }

    .landing-sub-title {
        position: absolute;
        width: 205px;
        height: 30px;
        top: 330px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        
        color: #2C3E50; 
    }

    .landing-social-media {
        display: flex;     
        position: absolute;
        flex-direction: row;
        justify-content: space-around;
        width: 104px;
        height: 24px;
        top: 372px;
    }

    .container-with-color-yellow-1 {
        position: absolute;
        height: 384px;
        left: 0px;
        top: 423px;
    }

    .landing-sub-text {
        position: absolute;
        width: 375px;
        height: 162px;
        top: 464px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        text-align: right;

        color: #2C3E50;
    }

    .about-me-container {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .about-me-title {
        position: absolute;
        width: 249px;
        height: 65px;
        top: 740px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        
        color: #2C3E50;
    }

    .about-me-text {
        position: absolute;
        width: 311px;
        height: 101px;
        top: 807px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;

        text-align: left;

        color: #2C3E50;
    }

    .about-me-social-media {
        display: flex;     
        position: absolute;
        flex-direction: row;
        justify-content: space-around;
        width: 104px;
        height: 24px;
        top: 1357px;
    }

    .container-with-color-blue-1 {
        position: absolute;
        height: 256px;
        left: 0px;
        top: 1480px;
    }

    .resume-title {
        position: absolute;
        width: 207px;
        height: 65px;
        top: 1639px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        text-align: center;

        color: #FBBC04;
    }

    .resume-work-title {
        position: absolute;
        width: 208px;
        height: 25px;
        top: 1744px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        
        color: #2C3E50;
        
    }

    .resume-work-container {
        position: absolute;
        left: 34px;
        top: 1779px;
    }


    .resume-education-title {
        position: absolute;
        width: 186px;
        height: 25px;
        top: 1951px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */

        color: #2C3E50;
    }

    .resume-education-container {
        position: absolute;
        left: 34px;
        top: 1985px;
    }

    .container-with-color-yellow-2 {
        position: absolute;
        height: 256px;
        left: 0px;
        top: 2272px;
    }

    .portfolio-title {
        position: absolute;
        width: 193px;
        height: 65px;
        top: 2431px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        
        color: #2C3E50;
    }

    .container-with-color-blue-2 {
        position: absolute;
        height: 256px;
        left: 0px;
        top: 3059px;        
    }

    .contact-container {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .contact-title { 
        position: absolute;
        width: 179px;
        height: 65px;
        top: 3218px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        text-align: center;

        color: #FBBC04;
    }

    .back-to-top {
        cursor: pointer;
        position: absolute;
        width: 157px;
        height: 25px;
        top: 3923px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */

        text-align: center;

        color: #2C3E50;  
        margin-bottom: 10%;
    }
}


@media only screen and (min-width: 321px) and (max-width: 375px) { 
    .landing-page {
        position: absolute;
        width: 375px;
        height: 433px;
        left: 0px;
        top: 100px;

        background: #ffffff;
    }

    .landing-image-container {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .landing-personal-image {
        position: absolute;
        top: 30px;
    }

    .landing-personal-image img {
        width: 216px;
        height: 228px;
        border-radius: 50%;
    }

    .landing-text-description {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .landing-main-text {
        position: absolute;
        height: 43px;
        top: 277px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;

        color: #2C3E50;
    }

    .landing-sub-title {
        position: absolute;
        width: 205px;
        height: 30px;
        top: 330px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        
        color: #2C3E50; 
    }

    .landing-social-media {
        display: flex;     
        position: absolute;
        flex-direction: row;
        justify-content: space-around;
        width: 104px;
        height: 24px;
        top: 372px;
    }

    .container-with-color-yellow-1 {
        position: absolute;
        width: 375px;
        height: 384px;
        left: 0px;
        top: 423px;

        background: #FBBC04;
    }

    .landing-sub-text {
        position: absolute;
        width: 311px;
        height: 162px;
        top: 464px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        text-align: right;

        color: #2C3E50;
    }

    .about-me-container {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .about-me-title {
        position: absolute;
        width: 249px;
        height: 65px;
        top: 740px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        
        color: #2C3E50;
    }

    .about-me-text {
        position: absolute;
        width: 311px;
        height: 101px;
        top: 807px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;

        text-align: left;

        color: #2C3E50;
    }

    .about-me-social-media {
        display: flex;     
        position: absolute;
        flex-direction: row;
        justify-content: space-around;
        width: 104px;
        height: 24px;
        top: 1357px;
    }

    .container-with-color-blue-1 {
        position: absolute;
        width: 375px;
        height: 256px;
        left: 0px;
        top: 1480px;
        
        background: #2C3E50;
    }

    .resume-title {
        position: absolute;
        width: 207px;
        height: 65px;
        top: 1639px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        text-align: center;

        color: #FBBC04;
    }

    .resume-work-title {
        position: absolute;
        width: 208px;
        height: 25px;
        top: 1744px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        
        color: #2C3E50;
        
    }

    .resume-work-container {
        position: absolute;
        top: 1779px;
    }


    .resume-education-title {
        position: absolute;
        width: 186px;
        height: 25px;
        top: 1951px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */

        color: #2C3E50;
    }

    .resume-education-container {
        position: absolute;
        top: 1985px;
    }

    .container-with-color-yellow-2 {
        position: absolute;
        width: 375px;
        height: 256px;
        left: 0px;
        top: 2272px;
        
        background: #FBBC04;
    }

    .portfolio-title {
        position: absolute;
        width: 193px;
        height: 65px;
        top: 2431px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        
        color: #2C3E50;
    }

    .container-with-color-blue-2 {
        position: absolute;
        width: 375px;
        height: 256px;
        left: 0px;
        top: 3059px;
        
        background: #2C3E50;
    }

    .contact-container {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .contact-title { 
        position: absolute;
        width: 179px;
        height: 65px;
        top: 3218px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        text-align: center;

        color: #FBBC04;
    }

    .back-to-top {
        cursor: pointer;
        position: absolute;
        width: 157px;
        height: 25px;
        top: 3923px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */

        text-align: center;

        color: #2C3E50;  
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 320px) { 
    .landing-page {
        position: absolute;
        width: 375px;
        height: 433px;
        left: 0px;
        top: 100px;

        background: #ffffff;
    }

    .landing-image-container {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .landing-personal-image {
        position: absolute;
        top: 30px;
    }

    .landing-personal-image img {
        width: 216px;
        height: 228px;
        border-radius: 50%;
    }

    .landing-text-description {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .landing-main-text {
        position: absolute;
        height: 43px;
        top: 277px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;

        color: #2C3E50;
    }

    .landing-sub-title {
        position: absolute;
        width: 205px;
        height: 30px;
        top: 330px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        
        color: #2C3E50; 
    }

    .landing-social-media {
        display: flex;     
        position: absolute;
        flex-direction: row;
        justify-content: space-around;
        width: 104px;
        height: 24px;
        top: 372px;
    }

    .container-with-color-yellow-1 {
        position: absolute;
        width: 375px;
        height: 384px;
        left: 0px;
        top: 423px;

        background: #FBBC04;
    }

    .landing-sub-text {
        position: absolute;
        width: 311px;
        height: 162px;
        top: 464px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        text-align: right;

        color: #2C3E50;
    }

    .about-me-container {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .about-me-title {
        position: absolute;
        width: 249px;
        height: 65px;
        top: 740px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        
        color: #2C3E50;
    }

    .about-me-text {
        position: absolute;
        width: 311px;
        height: 101px;
        top: 807px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;

        text-align: left;

        color: #2C3E50;
    }

    .about-me-social-media {
        display: flex;     
        position: absolute;
        flex-direction: row;
        justify-content: space-around;
        width: 104px;
        height: 24px;
        top: 1357px;
    }

    .container-with-color-blue-1 {
        position: absolute;
        width: 375px;
        height: 256px;
        left: 0px;
        top: 1480px;
        
        background: #2C3E50;
    }

    .resume-title {
        position: absolute;
        width: 207px;
        height: 65px;
        top: 1639px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        text-align: center;

        color: #FBBC04;
    }

    .resume-work-title {
        position: absolute;
        width: 208px;
        height: 25px;
        top: 1744px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        
        color: #2C3E50;
        
    }

    .resume-work-container {
        position: absolute;
        top: 1779px;
    }


    .resume-education-title {
        position: absolute;
        width: 186px;
        height: 25px;
        top: 1951px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */

        color: #2C3E50;
    }

    .resume-education-container {
        position: absolute;
        top: 1985px;
    }

    .container-with-color-yellow-2 {
        position: absolute;
        width: 375px;
        height: 256px;
        left: 0px;
        top: 2272px;
        
        background: #FBBC04;
    }

    .portfolio-title {
        position: absolute;
        width: 193px;
        height: 65px;
        top: 2431px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        
        color: #2C3E50;
    }

    .container-with-color-blue-2 {
        position: absolute;
        width: 375px;
        height: 256px;
        left: 0px;
        top: 3059px;
        
        background: #2C3E50;
    }

    .contact-container {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .contact-title { 
        position: absolute;
        width: 179px;
        height: 65px;
        top: 3218px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        text-align: center;

        color: #FBBC04;
    }

    .back-to-top {
        cursor: pointer;
        position: absolute;
        width: 157px;
        height: 25px;
        top: 3923px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */

        text-align: center;

        color: #2C3E50;  
        margin-bottom: 10%;
    }
}