.home-container {
    position: relative;
    height: 689px;

    background: #FFFFFF;
}

.home-image-container {
    position: absolute;
    left: 130px;
    top: 123px;
}

.home-image-container img {
    border-radius: 50%;
    width: 317px;
    height: 334px;
}

.home-social-media-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 266px;
    height: 60px;
    left: 151px;
    top: 490px;
}

.home-name-container {
    position: absolute;
    width: 701px;
    height: 165px;
    left: 547px;
    top: 156px;

    background: #FBBC04;
}

.home-name-text {
    position: absolute;
    width: 600px;
    left: 658px;
    top: 201px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;
    
    color: #2C3E50;
}

.home-description-container{
    position: absolute;
    width: 701px;
    height: 201px;
    left: 547px;
    top: 321px;
    
    background: #2C3E50;
}

.home-description-text {
    position: absolute;
    width: 680px;
    left: 556px;
    top: 330px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    
    color: #FBBC04;
    
}