.card-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 3%;
}

.course {
    width: 311px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #2C3E50;
}

.school {
    width: 311px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;

    color: #2C3E50;
}

.period {
    width: 311px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;

    color: #2C3E50;
}

@media only screen and (min-width: 800px) {
    .course {
        width: 100%;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
    
        color: #2C3E50;
    }

    .school {
        width: 311px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 19px;
    
        color: #2C3E50;
    }
    
    .period {
        width: 311px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 19px;
    
        color: #2C3E50;
    }
    
    .card-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 7%;
    }
}