.certification-card-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.certification-preview {
    width: 286px;
    height: 137px;

    background: #FFFFFF;
    border: 1px solid #2C3E50;
    box-sizing: border-box;
}

.certification-preview img {
    width: 286px;
    height: 137px;
    border-radius: 20px 20px 0px 0px;
}

.certification-preview img:hover {
    opacity: 0.3;
}


.certification-desc-container {
    display: flex;
    flex-direction: column;
    width: 286px;
    height: 54px;
    
    background: #2C3E50;
}

.certification-name {
    width: 280px;
    height: 22px;
    text-align: center;
    justify-content: center;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #FBBC04;
}

.certification-extra-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    height: 22px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #FBBC04;

}